# =========================

# frontend

# =========================

frontend/node_modules
frontend/dist

# =========================

# backend

# =========================

backend/**pycache**
backend/.venv
backend/chroma_db

# =========================

# env

# =========================

.env
*.env

# =========================

# OS

# =========================

.DS_Store
Thumbs.db

# =========================

# vscode

# =========================

.vscode
